* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "poppins";
}

.header {
  display: flex;
  background: linear-gradient(to right, yellow, orange);
  justify-content: space-between;
  height: 60px;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px black solid;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.logo1 {
  width: 30px;
  /* height: 40px; */
}

.logo-text {
  font-size: 15px;
  font-family: "Trebuchet MS";
}

.listed {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 500px;
  list-style: none;
}

.listed a {
  display: inline-block;
  text-decoration: none;
  color: rgb(97, 95, 95);
  position: relative;
  font-size: 25px;
  transition: 0.5s;
}

.listed a:hover {
  border-bottom: 2px solid red;
  color: rgb(255, 253, 208);
}
